@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="wordart rainbow"><span class="text">John's Hotel</span></div>
    <img src="img/johnshotel.jpg" width="50%">
</div>


<p>The navigation bar is filtered by what you are allowed to access. So if you think you are missing some information, create more users with different roles</p>