@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="wordart rainbow"><span class="text">John's Hotel</span></div>
    <img src="img/johnshotel.jpg" width="50%">
</div>
