@{
    ViewData["Title"] = "Kitchen";
}

<h1>Køkken</h1>
<table>
    <tr>
        <th>Antal gæster:   </th>
        <td>
            1
        </td>
    </tr>
    <tr>
        <th>Voksne checket ind:   </th>
        <td>
            2
        </td>
    </tr>
    <tr>
        <th>Børn checket ind:   </th>
        <td>
            3
        </td>
    </tr>
    <tr>
        <th>Gæster ikke checket ind:   </th>
        <td>
            4
        </td>
    </tr>
    <tr>
        <th>Voksne ikke checket ind:   </th>
        <td>
            5
        </td>
    </tr>
    <tr>
        <th>Børn ikke checket ind:   </th>
        <td>
            6
        </td>
    </tr>
</table>



