@{
    ViewData["Title"] = "Kitchen";
}

<h1>Køkken</h1>
<table>
    <tr>
        <th>Gæster</th>
        <td>
            4321
        </td>
    </tr>
    <tr>
        <th>Voksne checket ind</th>
        <td>
            6789
        </td>
    </tr>
    <tr>
        <th>Børn checket ind</th>
        <td>
            12345
        </td>
    </tr>
    <tr>
        <th>Voksne uden check ind</th>
        <td>
            73
        </td>
    </tr>
    <tr>
        <th>Børn uden check ind</th>
        <td>
            37 <br>
        </td>
    </tr>
</table>